#title{
    text-decoration: underline;
    text-align: center;
}
#myImg, #bodyText, #bottomLogo{
    text-align: center;
}

#headshotImg{
    display: inline-block;
    width: 170px;
    height: 150px;
    border-radius: 50%;
}

#bio-paragraph{
    display: inline-block;
    font-size: 20pt;
    width: 60%;
}
hr{
    width: 50%;
}

#promote{
    display: inline-block;
    font-weight: bold;
    font-size: 14pt;
    width: 90%;
}
#promote a{
    color: blue;
    text-decoration: underline;
}
#bottomImg{
    display: inline-block;
}
