*{
    font-family: 'Mulish', sans-serif;
}
a{
    text-decoration: none;
    color:black;
    width: 5px;
}
#navi ul{
    list-style-type: none;
}
#navi li{
    margin-left: 175px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    font-weight: bold;
}

@keyframes border{
    0% {border-top-color: black;}
    25% {border-right-color: black;}
    50% {border-bottom-color: black;}
    75% {border-left-color: black;}
    100% {border-top-color: white;}
}

#logo{
    /* margin: 0 auto; */
    width: 50px;
    height: 50px;
    position: absolute;
    left: 48.5%;
    /* top: 5%; */
}

#navi li:hover{
    animation-name: border;
    animation-duration: 1s;
    /* background-color: #ffffff; */
}
#navi{
    min-width: 200px;
    max-width: 800px;
    margin:auto;
    padding: 20px;
    border-radius: 10px;
}