<!DOCTYPE html>
<html>
    <head>
        <title>NONE</title>
        <meta http-equiv="Cache-Control" content="no-cache" >
        <meta http-equiv="Pragma" content="no-cache" >
        <meta http-equiv="Expires" content="0" >
        {% raw %}
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet"> 
        <link href="../static/todo.css" rel="stylesheet">
        {% endraw %}
    </head>
    <body>
        <ul id="list">
            <li id="0" class="task" onclick="createTask('new task')">Task 0</li>
        </ul>
        <script src="../static/scripts/taskManager.js"></script>
    </body>
</html>